body {
  background-color: #eef2f6;
  font-family: Lato;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

/* For mobile phones:
[class*='box-'] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  For desktop:
  .box-1 {
    width: 8.33%;
  }
  .box-2 {
    width: 16.66%;
  }
  .box-3 {
    width: 25%;
  }
  .box-4 {
    width: 33.33%;
  }
  .box-5 {
    width: 41.66%;
  }
  .box-6 {
    width: 50%;
  }
  .box-7 {
    width: 58.33%;
  }
  .box-8 {
    width: 66.66%;
  }
  .box-9 {
    width: 75%;
  }
  .box-10 {
    width: 83.33%;
  }
  .box-11 {
    width: 91.66%;
  }
  .box-12 {
    width: 100%;
  }
} */

@font-face {
  font-family: Lato;
  src: url('~@/assets/fonts/Lato-Regular.ttf');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: Lato;
  src: url('~@/assets/fonts/Lato-Bold.ttf');
  font-weight: 700;
  font-display: block;
}
